<IfModule mod_rewrite.c>
    Options +FollowSymlinks

    # 开启URL重写
    RewriteEngine On
    # 目录存在时直接访问目录
    RewriteCond %{REQUEST_FILENAME} !-d
    # 文件存在时直接访问文件
    RewriteCond %{REQUEST_FILENAME} !-f
    # 这些后缀的文件，就直接访问文件，不进行Rewrite
    RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.gif|\.png|\.jpg|\.jpeg)$
#    RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
    RewriteRule ^ index.php [QSA,L]

</IfModule>
<Files *>
    #防止罗列资源文件
    Options -Indexes
</Files>